USE [master]
GO
/****** Object:  Database [mvc_real_estate_db]    Script Date: 6/28/2023 9:54:50 PM ******/
CREATE DATABASE [mvc_real_estate_db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'mvc_real_estate_db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\mvc_real_estate_db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'mvc_real_estate_db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\mvc_real_estate_db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [mvc_real_estate_db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [mvc_real_estate_db]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 6/28/2023 9:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 6/28/2023 9:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 6/28/2023 9:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 6/28/2023 9:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 6/28/2023 9:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 6/28/2023 9:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Gender] [bit] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[isBan] [bit] NOT NULL,
	[isAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[collections]    Script Date: 6/28/2023 9:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[collections](
	[collections_id] [int] IDENTITY(1,1) NOT NULL,
	[collections_name] [nvarchar](100) NOT NULL,
	[collections_slug] [nvarchar](100) NOT NULL,
	[overview] [ntext] NOT NULL,
	[video] [nvarchar](100) NOT NULL,
	[introduction] [ntext] NOT NULL,
	[information] [ntext] NOT NULL,
	[location] [ntext] NOT NULL,
	[Thumbnail] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[collections_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[collections_galery]    Script Date: 6/28/2023 9:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[collections_galery](
	[collections_id] [int] NOT NULL,
	[collections_galery_id] [int] IDENTITY(1,1) NOT NULL,
	[img] [nvarchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[collections_galery_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contact]    Script Date: 6/28/2023 9:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contact](
	[contact_id] [int] IDENTITY(1,1) NOT NULL,
	[fullname] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[phone] [nvarchar](11) NOT NULL,
	[conMessage] [nvarchar](500) NOT NULL,
	[isSeen] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[contact_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[news]    Script Date: 6/28/2023 9:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[news](
	[news_id] [int] IDENTITY(1,1) NOT NULL,
	[news_name] [nvarchar](200) NOT NULL,
	[news_slug] [nvarchar](200) NOT NULL,
	[content] [ntext] NOT NULL,
	[thumbnail] [nvarchar](100) NOT NULL,
	[postdate] [datetime] NOT NULL,
	[viewCount] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[news_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[news_comment]    Script Date: 6/28/2023 9:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[news_comment](
	[news_comment_id] [int] IDENTITY(1,1) NOT NULL,
	[news_id] [int] NOT NULL,
	[username] [nvarchar](100) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[message] [nvarchar](1500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[news_comment_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 6/28/2023 9:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[products_id] [int] IDENTITY(1,1) NOT NULL,
	[products_name] [nvarchar](100) NOT NULL,
	[products_slug] [nvarchar](100) NOT NULL,
	[area] [nvarchar](400) NOT NULL,
	[information] [ntext] NOT NULL,
	[desciption] [ntext] NOT NULL,
	[address] [nvarchar](100) NOT NULL,
	[price] [decimal](18, 0) NOT NULL,
	[type] [int] NOT NULL,
	[viewCount] [int] NOT NULL,
	[isHot] [bit] NOT NULL,
	[collections_id] [int] NOT NULL,
	[Thumbnail] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[products_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products_galery]    Script Date: 6/28/2023 9:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products_galery](
	[products_galery_id] [int] IDENTITY(1,1) NOT NULL,
	[products_id] [int] NOT NULL,
	[img] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[products_galery_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[subscribed]    Script Date: 6/28/2023 9:54:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[subscribed](
	[subscribed_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[subscribed_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'1', N'Admin')
GO
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FullName], [Gender], [Address], [isBan], [isAdmin]) VALUES (N'64dba7fb-80f1-4fef-a675-f62f34b8d570', N'ThanhLuu25@gmail.com.vn', 0, N'AFKTLvhvQ+5tafOfP3Pf/XsegK4zJoTrTLaQLKKrNse72GANIuXJh2x5MT9oynmSvA==', N'29a7e94f-89f5-49fe-81a2-872e18f52060', N'0987612345', 0, 0, NULL, 1, 0, N'ThanhLuu25@gmail.com.vn', N'Lưu N.Thành', 0, N'Nhơn Hưng - An Nhơn -Bình Định', 0, 0)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FullName], [Gender], [Address], [isBan], [isAdmin]) VALUES (N'79139462-c74a-4f1a-b662-c3d25ce871a0', N'6151071101@st.utc2.edu.vn', 0, N'AJP5utbuy54+T7T3P1IeQhlFbyKQ0uE3RLAcWFmo51t4JW+nZGugLNUpdxys+shqfQ==', N'a0cc8601-ce11-4582-aff4-2f1daf2cc9f5', N'0123456777', 0, 0, NULL, 1, 0, N'6151071101@st.utc2.edu.vn', N'Lưu Nhật Thành', 0, N'Nhơn Hưng - An Nhơn - Bình Định', 0, 1)
INSERT [dbo].[AspNetUsers] ([Id], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName], [FullName], [Gender], [Address], [isBan], [isAdmin]) VALUES (N'a95e9282-495b-43bd-b034-5f9cddf085c9', N'quenhon.dev@gmail.com', 0, N'APSdKcPLu8T06OU1V4HdPwHc4fTvd4FbLTkJndvucLpwIwgeJsWNOsnJztHeywpgMQ==', N'b5f2826a-d855-4dca-92d8-ca7d55adb18b', N'089123456', 0, 0, NULL, 1, 0, N'quenhon.dev@gmail.com', N'Lê Văn Đỗ Kỳ', 0, N'Trường Thọ, Thủ Đức, Tp Hồ Chí Minh', 0, 0)
GO
SET IDENTITY_INSERT [dbo].[collections] ON 

SET IDENTITY_INSERT [dbo].[collections] OFF
GO
SET IDENTITY_INSERT [dbo].[collections_galery] ON 

INSERT [dbo].[collections_galery] ([collections_id], [collections_galery_id], [img]) VALUES (1, 1, N'simcity-premier-biet-thu-moi.jpg')
INSERT [dbo].[collections_galery] ([collections_id], [collections_galery_id], [img]) VALUES (1, 2, N'simcity-premier-homes2.jpg')
INSERT [dbo].[collections_galery] ([collections_id], [collections_galery_id], [img]) VALUES (2, 6, N'valencia-riverside-.jpg')
SET IDENTITY_INSERT [dbo].[collections_galery] OFF
GO
SET IDENTITY_INSERT [dbo].[contact] ON 

INSERT [dbo].[contact] ([contact_id], [fullname], [email], [phone], [conMessage], [isSeen]) VALUES (5, N'Lưu Nhật Thành', N'NhatThanh25@gmail.com', N'0123456789', N'Có gan làm giàuuuuuuuu', 1)
INSERT [dbo].[contact] ([contact_id], [fullname], [email], [phone], [conMessage], [isSeen]) VALUES (6, N'Nguyễn Văn A', N'Nguyenvana@gmail.com', N'0123345567', N'Mỗi người một sở thích, một nhu cầu khác nhau cùng chung sống trong một diện tích chật hẹp đã nhiều lần khiến các thành viên trong gia đình “bằng mặt nhưng không bẳng lòng”. Văn hóa người Việt xưa...', 0)
SET IDENTITY_INSERT [dbo].[contact] OFF
GO
SET IDENTITY_INSERT [dbo].[news] ON 

SET IDENTITY_INSERT [dbo].[news] OFF
GO
SET IDENTITY_INSERT [dbo].[news_comment] ON 

INSERT [dbo].[news_comment] ([news_comment_id], [news_id], [username], [email], [message]) VALUES (7, 2, N'Lưu Nhật Thành', N'luunhatthanh25012002@gmail.com', N'Trong đó có 11.000m2 khuôn viên chạy bộ, khu công viên kênh đào Canal Park rộng gần 10.000m2, hồ Sky Pearl, vườn cây xanh Pergola, vườn bậc thang Sky Hills, vườn vui chơi trẻ em Kid Garden...')
SET IDENTITY_INSERT [dbo].[news_comment] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[products_galery] ON 

INSERT [dbo].[products_galery] ([products_galery_id], [products_id], [img]) VALUES (20, 1, N'cn-h-sunshine-city-18.jpg')
INSERT [dbo].[products_galery] ([products_galery_id], [products_id], [img]) VALUES (23, 1, N'cn-h-sunshine-city-23.jpg')
INSERT [dbo].[products_galery] ([products_galery_id], [products_id], [img]) VALUES (30, 9, N'can-ho-cao-cap-nhin-ra-song-quan-7-.jpg')
SET IDENTITY_INSERT [dbo].[products_galery] OFF
GO
SET IDENTITY_INSERT [dbo].[subscribed] ON 

INSERT [dbo].[subscribed] ([subscribed_id], [email]) VALUES (1, N'luunhatthanh25012002@gmail.com')
SET IDENTITY_INSERT [dbo].[subscribed] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 6/28/2023 9:54:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 6/28/2023 9:54:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 6/28/2023 9:54:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 6/28/2023 9:54:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 6/28/2023 9:54:51 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 6/28/2023 9:54:51 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [isBan]
GO
ALTER TABLE [dbo].[AspNetUsers] ADD  DEFAULT ((0)) FOR [isAdmin]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[collections_galery]  WITH CHECK ADD FOREIGN KEY([collections_id])
REFERENCES [dbo].[collections] ([collections_id])
GO
ALTER TABLE [dbo].[collections_galery]  WITH CHECK ADD FOREIGN KEY([collections_id])
REFERENCES [dbo].[collections] ([collections_id])
GO
ALTER TABLE [dbo].[collections_galery]  WITH CHECK ADD FOREIGN KEY([collections_id])
REFERENCES [dbo].[collections] ([collections_id])
GO
ALTER TABLE [dbo].[collections_galery]  WITH CHECK ADD FOREIGN KEY([collections_id])
REFERENCES [dbo].[collections] ([collections_id])
GO
ALTER TABLE [dbo].[news_comment]  WITH CHECK ADD FOREIGN KEY([news_id])
REFERENCES [dbo].[news] ([news_id])
GO
ALTER TABLE [dbo].[news_comment]  WITH CHECK ADD FOREIGN KEY([news_id])
REFERENCES [dbo].[news] ([news_id])
GO
ALTER TABLE [dbo].[news_comment]  WITH CHECK ADD FOREIGN KEY([news_id])
REFERENCES [dbo].[news] ([news_id])
GO
ALTER TABLE [dbo].[news_comment]  WITH CHECK ADD FOREIGN KEY([news_id])
REFERENCES [dbo].[news] ([news_id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([collections_id])
REFERENCES [dbo].[collections] ([collections_id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([collections_id])
REFERENCES [dbo].[collections] ([collections_id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([collections_id])
REFERENCES [dbo].[collections] ([collections_id])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([collections_id])
REFERENCES [dbo].[collections] ([collections_id])
GO
ALTER TABLE [dbo].[products_galery]  WITH CHECK ADD FOREIGN KEY([products_id])
REFERENCES [dbo].[products] ([products_id])
GO
ALTER TABLE [dbo].[products_galery]  WITH CHECK ADD FOREIGN KEY([products_id])
REFERENCES [dbo].[products] ([products_id])
GO
ALTER TABLE [dbo].[products_galery]  WITH CHECK ADD FOREIGN KEY([products_id])
REFERENCES [dbo].[products] ([products_id])
GO
ALTER TABLE [dbo].[products_galery]  WITH CHECK ADD FOREIGN KEY([products_id])
REFERENCES [dbo].[products] ([products_id])
GO
USE [master]
GO
