<footer class="footer">
    <div class="container">
        <div class="first-sec text-center">
            <div class="logo-ending"><img src="~/Content/Images/logo.png" /></div>
            <p class="footer-sign">Với hơn 10 năm kinh nghiệm, SkyLand tự hào là sàn mua bán, giao dịch và quảng cáo bất động sản hàng đầu tại Việt Nam</p>
            <div class="row place-sec">
                <div class="col-md-4">
                    <div class="place-img"><img src="~/Content/Images/place_maps.png" /></div>
                    <div class="place-title">Trụ sở chính</div>
                    <div class="place-content">Tầng 8 Ladeco, 266 Đội Cấn, Hà Nội</div>
                </div>
                <div class="col-md-4">
                    <div class="place-img"><img src="~/Content/Images/place_phone.png" /></div>
                    <div class="place-title">Hot line</div>
                    <div class="place-content">1900.9898</div>
                </div>
                <div class="col-md-4">
                    <div class="place-img"><img src="~/Content/Images/place_email.png" /></div>
                    <div class="place-title">Email</div>
                    <div class="place-content">support@skyland.com</div>
                </div>
            </div>
        </div>
        <div class="text-center social-footer">
            <a href="https://facebook.com/" class="icon-facebook"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a href="mailto:skyland.0410@gmail.com" class="icon-google-plus"><i class="fa-solid fa-envelope-square fa-2x"></i></a>
            <a href="https://twitter.com/" class="icon-twitter"><i class="fab fa-twitter-square fa-2x"></i></a>
            <a href="https://linkedin.com/" class="icon-linkedin"><i class="fab fa-linkedin-in fa-2x"></i></a>
            <a href="https://youtube.com/" class="icon-google-plus"><i class="fab fa-youtube-square fa-2x"></i></a>
        </div>
        <hr />
        <div class="copyright">
            &copy; Bản quyền thuộc về Skylands Group |
            <u>@Html.ActionLink("Chính sách sử dụng", "PolicyUse", "Home", null, new { @class = "text-link" })</u>
            
        </div>
    </div>
</footer>
