
@{
    ViewBag.Title = "Lấy lại mật khẩu thành công";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg-login"></div>
<div class="section-login">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel">
                    <div class="panel-heading p-25">
                        <h3 class="panel-title text-center"><a href="@Url.Action("Index", "Home")"><img src="https://bizweb.dktcdn.net/100/328/362/themes/894751/assets/logo.png?1676257083798" /></a></h3>
                    </div>
                    <div class="panel-body">
                        <h1>@ViewBag.Msg</h1>
                        <h3>Lấy lại mất khẩu thành công!</h3>
                        <p>Mật khẩu mới đã được gửi vào mail của bạn.</p>
                        <a href="/dang-nhap">Đăng nhập</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

