@{
    ViewBag.Title = "About";
}
<div class="bg-contact">
    <div class="title-page">Liên hệ</div>
    <div class="breadcrumb">@Html.ActionLink("Trang chủ", "Index", "Home") / Giới thiệu</div>
</div>
<br />
<div class="container">
    <div class="page-title category-title">
        <h3 class="title-head"><span>Giới thiệu</span></h3>
    </div>
    <div class="content-page rte minpage">
        <p>T&ograve;a nh&agrave; cao nhất Việt Nam The Sky Land&nbsp; 90&nbsp;của C&ocirc;ng ty cổ phần c&ocirc;ng nghệ&nbsp;Sapo ch&iacute;nh thức cho kh&aacute;ch h&agrave;ng đặt giữ chỗ chọn mua đợt đầu v&agrave;o ng&agrave;y Event&nbsp;<strong>1/7/2016</strong>. Sự kiện diễn ra l&uacute;c 18h tại nh&agrave; mẫu Sapohomes Central Park, số 208 đường Nguyễn Ch&iacute; Thanh, TP H&agrave; Nội&nbsp;.&ndash; Đợt đầu đặt chỗ tầng 36 v&agrave; 37 chỉ d&agrave;nh cho người nước ngo&agrave;i. C&aacute;c tầng c&ograve;n lại tất cả c&aacute;c kh&aacute;ch h&agrave;ng chọn căn đặt cọc từ ng&agrave;y&nbsp;<strong>19/7/2016</strong>.</p>
        <p><strong>MỞ B&Aacute;N:</strong></p>
        <p>+ Ng&agrave;y c&ocirc;ng bố gi&aacute; b&aacute;n v&agrave; cho kh&aacute;ch đặt cọc từ:&nbsp;<strong>19/7/2016</strong></p>
        <p>+ Ng&agrave;y tổ chức event mở b&aacute;n:&nbsp;<strong>25/7/2016</strong></p>
        <p>&ndash; T&ograve;a nh&agrave; The Sky Land&nbsp; 90 tầng sở hữu những căn hộ đẳng cấp bậc nhất Việt Nam. Được nhiều c&aacute;c nh&agrave; đầu tư trong v&agrave; ngo&agrave;i nước đặc biệt quan t&acirc;m. Khi mở b&aacute;n kỳ vọng sẽ trở th&agrave;nh hiện tượng của thị trường bất động sản trong nhiều năm trở lại đ&acirc;y.</p>
        <p><strong>1. Tổng quan:</strong></p>
        <p>&ndash; Tổng chiều cao thiết kế: 512&nbsp;m</p>
        <p>&ndash; Số tầng: 90 tầng nổi v&agrave; 4 tầng hầm</p>
        <p>&ndash; Tổng diện t&iacute;ch s&agrave;n (kh&ocirc;ng gồm hầm): 198.200 m2</p>
        <p><strong>2. Diện t&iacute;ch căn hộ T&ograve;a SkyLand 90:</strong></p>
        <p>&ndash; Thiết kế từ: 1-2-3-4 ph&ograve;ng ngủ v&agrave; Sky villa</p>
        <p>&ndash; Loại 1 ph&ograve;ng ngủ: 54-55-66 m2</p>
        <p>&ndash; Loại 2 ph&ograve;ng ngủ: 78-87-90-94 m2</p>
        <p>&ndash; Loại 3 ph&ograve;ng ngủ: 106-109-133-145 m2</p>
        <p>&ndash; Loại 4 ph&ograve;ng ngủ: 144-171-172-173-186-192-249-258-269-407-420-431 m2</p>
        <p><strong>3. Loại h&igrave;nh ph&aacute;t triển&nbsp;</strong><strong>The Sky Land&nbsp; 90</strong><strong>:</strong></p>
        <p>&ndash; Trung t&acirc;m thương mại, rạp chiếu phim, s&acirc;n trượt băng trong nh&agrave;, gym (tầng B1,1, 2, 3)</p>
        <p>&ndash; Khu club house d&agrave;nh cho cư d&acirc;n gồm hệ thống hồ bơi, gym, spa, bar v&agrave; lounge ngo&agrave;i trời (tầng 4).</p>
        <p>&ndash; Sảnh lounge ti&ecirc;u chuẩn 5 sao v&agrave; nh&agrave; sinh hoạt cộng đồng d&agrave;nh cho cư d&acirc;n, nh&agrave; h&agrave;ng cao cấp (tầng 5).</p>
        <p>&ndash; Khu căn hộ hiện đại (tầng 6 &ndash; 40) với căn hộ 1 &ndash; 4 ph&ograve;ng ngủ, sky villa.</p>
        <p>&ndash; Kh&aacute;ch sạn SapoPearl 5 sao (tầng 42 &ndash; 76).</p>
        <p>&ndash; Đ&agrave;i quan s&aacute;t (tầng 79 &ndash; 90).</p>
        <p><strong>4. Th&ocirc;ng tin kỹ thuật:</strong></p>
        <p>Số lượng căn hộ/s&agrave;n: 10 &ndash; 20 căn.</p>
        <p>Số lượng thang m&aacute;y: 26 thang m&aacute;y.</p>
        <p>Số lượng thang tho&aacute;t hiểm: 2 thang.</p>
        <p>Chiều rộng h&agrave;nh lang: 1,8m.</p>
        <p>Tầng hầm để xe (tầng B2, B3).</p>
        <p><strong>Th&ocirc;ng tin kh&aacute;c:</strong></p>
        <p>&ndash;&nbsp;<strong>Đơn vị thiết kế:</strong>&nbsp;Tập đo&agrave;n Atkins (Anh Quốc)</p>
        <p>&ndash;&nbsp;<strong>Năm khởi c&ocirc;ng:</strong>&nbsp;2016</p>
        <p>&ndash;&nbsp;<strong>Năm ho&agrave;n th&agrave;nh:</strong>&nbsp;Dự kiến 2019</p>
    </div>
</div>