
@{
    ViewBag.Title = "Chính sách sử dụng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="bg-contact">
    <div class="title-page">Chính sách sử dụng</div>
    <div class="breadcrumb">@Html.ActionLink("Trang chủ", "Index", "Home") / Chính sách sử dụng</div>
</div>
<br />
<div class="container">
    <div class="px-3 lg:px-0 w-full border-b border-black/10 dark:border-gray-900/50 text-gray-800 dark:text-gray-100 group bg-gray-50 dark:bg-[#444654]">
        <div class="flex gap-4 p-4 m-auto text-sm md:gap-6 md:max-w-2xl lg:max-w-2xl xl:max-w-3xl md:py-6 lg:px-3">
            <div class="relative flex w-[calc(100%-50px)] flex-col gap-1 md:gap-3 lg:w-[calc(100%-115px)] ">
                <div class="min-h-[20px] gap-4 text-white">
                    <div class="w-full break-words markdown sm-prose dark:prose-invert dark">
                        <div class="relative">
                            <div class="prose-sm pr-7">
                                <h4>Ch&agrave;o mừng bạn đến với bất động sản <strong><span style="color: #35bf76;">Skyland</span></strong>.</h4>
                                <p>Để đảm bảo sự an to&agrave;n v&agrave; thuận lợi cho việc sử dụng trang web, ch&uacute;ng t&ocirc;i đ&atilde; thiết lập một số quy định v&agrave; hướng dẫn sử dụng như sau:</p>
                                <ol>
                                    <li>
                                        <p><strong>Nội dung trang web:</strong> C&aacute;c th&ocirc;ng tin, ảnh chụp, video v&agrave; c&aacute;c t&agrave;i liệu kh&aacute;c được đăng tải tr&ecirc;n trang web l&agrave; t&agrave;i sản của ch&uacute;ng t&ocirc;i v&agrave; được bảo vệ bởi bản quyền. Nếu bạn muốn sử dụng ch&uacute;ng cho mục đ&iacute;ch thương mại hoặc phi thương mại, vui l&ograve;ng li&ecirc;n hệ với ch&uacute;ng t&ocirc;i trước khi sử dụng.</p>
                                    </li>
                                    <li>
                                        <p><strong>Th&ocirc;ng tin dự &aacute;n:</strong> C&aacute;c th&ocirc;ng tin v&agrave; ch&iacute;nh s&aacute;ch của dự &aacute;n tr&ecirc;n trang web chỉ mang t&iacute;nh chất tham khảo. Ch&uacute;ng t&ocirc;i kh&ocirc;ng chịu tr&aacute;ch nhiệm cho bất kỳ sự thiếu ch&iacute;nh x&aacute;c, đầy đủ hoặc cập nhật n&agrave;o trong c&aacute;c th&ocirc;ng tin n&agrave;y.</p>
                                    </li>
                                    <li>
                                        <p><strong>Li&ecirc;n lạc v&agrave; bảo mật:</strong> Khi li&ecirc;n lạc với ch&uacute;ng t&ocirc;i, vui l&ograve;ng cung cấp đầy đủ th&ocirc;ng tin c&aacute; nh&acirc;n để ch&uacute;ng t&ocirc;i c&oacute; thể trả lời y&ecirc;u cầu của bạn. Ch&uacute;ng t&ocirc;i cam kết bảo mật th&ocirc;ng tin c&aacute; nh&acirc;n của bạn v&agrave; kh&ocirc;ng tiết lộ cho b&ecirc;n thứ ba.</p>
                                    </li>
                                    <li>
                                        <p><strong>Tr&aacute;ch nhiệm người d&ugrave;ng:</strong> Người d&ugrave;ng trang web phải tu&acirc;n thủ c&aacute;c quy định v&agrave; ch&iacute;nh s&aacute;ch của trang web n&agrave;y. Bất kỳ h&agrave;nh vi vi phạm luật ph&aacute;p, thuần phong mỹ tục, hoặc những h&agrave;nh động g&acirc;y hại cho trang web hoặc người d&ugrave;ng kh&aacute;c đều bị cấm. Ch&uacute;ng t&ocirc;i sẽ kh&ocirc;ng chịu tr&aacute;ch nhiệm cho bất kỳ thiệt hại hoặc mất m&aacute;t n&agrave;o ph&aacute;t sinh do người d&ugrave;ng vi phạm c&aacute;c ch&iacute;nh s&aacute;ch sử dụng trang web.</p>
                                    </li>
                                    <li>
                                        <p><strong>Quy định sử dụng:</strong></p>
                                        <p>a. Kh&aacute;ch h&agrave;ng hoặc đối t&aacute;c khi sử dụng trang web cần phải tu&acirc;n thủ tất cả c&aacute;c quy định của ph&aacute;p luật Việt Nam v&agrave; những quy định cụ thể của trang web.</p>
                                        <p>b. Kh&aacute;ch h&agrave;ng hoặc đối t&aacute;c cam kết t&iacute;nh ch&iacute;nh x&aacute;c, trung thực v&agrave; kh&ocirc;ng vi phạm quyền sử dụng tr&aacute;i ph&eacute;p.</p>
                                        <p>c. Kh&aacute;ch h&agrave;ng hoặc đối t&aacute;c kh&ocirc;ng được ph&eacute;p sử dụng trang web để phổ biến th&ocirc;ng tin sai lệch, đồn đo&aacute;n hoặc xuy&ecirc;n tạc th&ocirc;ng tin.</p>
                                        <p>d. Kh&aacute;ch h&agrave;ng hoặc đối t&aacute;c kh&ocirc;ng được ph&eacute;p sử dụng trang web để quảng c&aacute;o, kinh doanh bất động sản tự &yacute;, tr&aacute;i với c&aacute;c quy định của ph&aacute;p luật.</p>
                                        <p>e. Kh&aacute;ch h&agrave;ng hoặc đối t&aacute;c kh&ocirc;ng được ph&eacute;p tấn c&ocirc;ng ngầm hoặc ph&aacute; hoại trang web.</p>
                                        <p>f. Sử dụng trang web để thực hiện bất kỳ h&agrave;nh động ph&aacute; hoại, x&acirc;m nhập hoặc tiết lộ th&ocirc;ng tin c&aacute; nh&acirc;n của người sử dụng kh&aacute;c sẽ bị xem l&agrave; vi phạm ph&aacute;p luật v&agrave; trang web kh&ocirc;ng chịu tr&aacute;ch nhiệm về những hậu quả từ những vi phạm n&agrave;y.</p>
                                    </li>
                                    <li>
                                        <p><strong>Th&ocirc;ng tin v&agrave; bảo mật:</strong></p>
                                        <p>a. Trang web sẽ sử dụng th&ocirc;ng tin người d&ugrave;ng để cung cấp cho kh&aacute;ch h&agrave;ng hoặc đối t&aacute;c th&ocirc;ng tin về dự &aacute;n v&agrave; sản phẩm bất động sản. Tất cả c&aacute;c th&ocirc;ng tin n&agrave;y sẽ được bảo mật an to&agrave;n v&agrave; kh&ocirc;ng được chia sẻ cho b&ecirc;n thứ ba, trừ khi c&oacute; sự đồng &yacute; của kh&aacute;ch h&agrave;ng hoặc đối t&aacute;c.</p>
                                        <p>b. Nếu kh&aacute;ch h&agrave;ng hoặc đối t&aacute;c muốn truy cập, chỉnh sửa hoặc x&oacute;a th&ocirc;ng tin của m&igrave;nh từ cơ sở dữ liệu của trang web, họ c&oacute; thể y&ecirc;u cầu trực tiếp với bộ phận quản l&yacute; trang web.</p>
                                        <p>c. Trang web cam kết bảo vệ th&ocirc;ng tin c&aacute; nh&acirc;n v&agrave; th&ocirc;ng tin người d&ugrave;ng kh&ocirc;ng bị r&ograve; rỉ hoặc bị sử dụng sai mục đ&iacute;ch.</p>
                                        <p>d. Trang web sử dụng c&aacute;c c&ocirc;ng nghệ bảo mật để đảm bảo an to&agrave;n th&ocirc;ng tin của kh&aacute;ch h&agrave;ng hoặc đối t&aacute;c.</p>
                                    </li>
                                    <li>
                                        <p><strong>Li&ecirc;n hệ:</strong></p>
                                        <p>Kh&aacute;ch h&agrave;ng hoặc đối t&aacute;c c&oacute; thể li&ecirc;n hệ với bộ phận quản l&yacute; trang web để biết th&ecirc;m th&ocirc;ng tin về ch&iacute;nh s&aacute;ch sử dụng trang web hoặc bảo mật th&ocirc;ng tin qua email hoặc số điện thoại được cung cấp tr&ecirc;n trang web.</p>
                                    </li>
                                </ol>
                                <p>Ch&uacute;ng t&ocirc;i sẽ cập nhật c&aacute;c quy định v&agrave; ch&iacute;nh s&aacute;ch n&agrave;y theo thời gian v&agrave; t&ugrave;y theo nhu cầu. Nếu bạn c&oacute; bất kỳ c&acirc;u hỏi hoặc phản hồi n&agrave;o, vui l&ograve;ng li&ecirc;n hệ với ch&uacute;ng t&ocirc;i qua địa chỉ email hoặc số điện thoại được cung cấp tr&ecirc;n trang web.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex gap-4 p-4 m-auto text-sm lg:px-3 md:gap-6 md:max-w-2xl lg:max-w-2xl xl:max-w-3xl md:py-6 ">&nbsp;</div>
</div>